/* -------------------- BODY -------------------- */
p{
  font-size:1.2em;
}

h3{
  text-align:center;
}

.footer{
  text-align:center;
}

#centerize{
  text-align:center;
}

/* -------------------- NAVBAR -------------------- */
.navbar {
    margin-bottom: .2em;
    font-size:1.2em;
    background-color:#8966a0;
}

/* -------------------- TABLE -------------------- */
.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

thead {
  background-color: #8966a0;
  color: white;
  font-size: 1.3em;
}

.table{
  max-width:100%;
  margin:auto;
}

.table-striped > tbody > tr:nth-of-type(odd){
  background-color:#e9e3ed;
}

label {
    display: block;
}

div.dataTables_filter label{
    text-align: right;
    font-weight: bold;
}

div.dataTables_info{
    text-align: center;
}

/* -------------------- BUTTON -------------------- */

.center-btn {
text-align: center;
padding-top: 0.5em;
}


.btn-info {
  color: #ffffff;
  background-color: #b8a3c6;
  border-color: #b8a3c6;
}
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #9c7eaf;
  border-color: #9c7eaf;
}
.btn-info:hover {
  color: #ffffff;
  background-color: #9c7eaf;
  border-color: #8966a0;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #9c7eaf;
  border-color: #9c7eaf;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #ffffff;
  background-color: #9c7eaf;
  border-color: #9c7eaf;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
  background-color: #9c7eaf;
  border-color: #9c7eaf;
}
.btn-info .badge {
  color: #9c7eaf;
  background-color: #ffffff;
}

.btn-primary {
  color: #ffffff;
  background-color: #6a4e7d;
  border-color: #6a4e7d;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #563f65;
  border-color: #000000;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #563f65;
  border-color: #4c3759;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #563f65;
  border-color: #563f65;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #563f65;
  border-color: #563f65;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #563f65;
  border-color: #563f65;
}


.btn-default {
  color: #ffffff;
  background-color: #b8a3c6;
  border-color: #b8a3c6;
}
.btn-default:focus,
.btn-default.focus {
  color: #ffffff;
  background-color: #9c7eaf;
  border-color: #9c7eaf;
}
.btn-default:hover {
  color: #ffffff;
  background-color: #9c7eaf;
  border-color: #8966a0;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #9c7eaf;
  border-color: #9c7eaf;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #ffffff;
  background-color: #9c7eaf;
  border-color: #9c7eaf;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #9c7eaf;
  border-color: #9c7eaf;
}
.btn-default .badge {
  color: #9c7eaf;
  background-color: #ffffff;
}

